:root {
  background-image: linear-gradient(
    to bottom right,
    #e5989b, 
    #f09e8a,
    #ffcdb2 
  );
  font-family: "Chango";
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  min-height: 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  text-align: center;
  font-size: 6rem;
  font-weight: bold;
  -webkit-text-stroke: 5px hsl(0, 0%, 10%);
}

.tomato {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

.timer {
  font-family: Dangrek;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  -webkit-text-stroke: 4px hsl(0, 0%, 10%);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-button {
  display: inline-block;
  padding: auto;
  margin: 10px;
  font-size: 2rem;
  font-weight: bold;
  border: 2px solid hsl(0, 0%, 10%);
  border-radius: 10px;
  padding: 10px;
  background-color: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 10%);
}

.start-button:hover {
  background-color: hsl(0, 0%, 85%);
  cursor: pointer;
}

.start-button:active {
  background-color: hsl(0, 0%, 80%);
}

.pause-button {
  display: inline-block;
  padding: auto;
  margin: 10px;
  font-size: 2rem;
  font-weight: bold;
  border: 2px solid hsl(0, 0%, 10%);
  border-radius: 10px;
  padding: 10px;
  background-color: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 10%);
}

.pause-button:hover {
  background-color: hsl(0, 0%, 85%);
  cursor: pointer;
}

.pause-button:active {
  background-color: hsl(0, 0%, 80%);
}

.reset-button {
  display: inline-block;
  padding: auto;
  margin: 10px;
  font-size: 2rem;
  font-weight: bold;
  border: 2px solid hsl(0, 0%, 10%);
  border-radius: 10px;
  padding: 10px;
  background-color: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 10%);
}

.reset-button:hover {
  background-color: hsl(0, 0%, 85%);
  cursor: pointer;
}

.reset-button:active {
  background-color: hsl(0, 0%, 80%);
}
